<table>
    <tr>
    <td colspan="7">
        <tr>
                <td>Mon-Sun</td>
                <td>
                        Kapalbhati + Pran Mudra<br/>
                        Bhastrika + Pran Mudra<br/>
                        Bahya + Pran Mudra + Mula Bandha + Uddiyana bandha + Jalandhara Bandha<br/>
                        Nadi Shodhana + Pran Mudra + Mula Bandha + Ashwini Mudra<br/>
                        Bhramari + Pran Mudra + Ashwini Mudra<br/>
                        Udgeeth + Pran Mudra + Ashwini Mudra<br/>
                        Pranav + Pran Mudra
                </td>
        </tr>
    </table>