<table align="center">
		<tr>
    		<td *ngFor = "let ac of asanaCat; index as i" valign="top" align="center">
                    <font color="red"> <strong> {{ i + 1 }} {{ ac.asanaCatName }} <br/><br/> <!--4 Weeks --></strong></font>
    			<table>
    			<tr *ngFor = "let a of ac.asanas; index as j">
                        <td>
                                {{ j + 1 }}
                            </td>
    			<td>
                        <a mat-button [routerLink]="['/asanaDetail', a.asanaId]">{{ a.asanaName }} </a> 
                </td>
                    <td>
                        <!-- <img src="../../assets/images/ChaturangaDandasana.jpg" style="width:50px;height:50px;"/>-->
                         <img src="{{ a.imageURL }} " style="width:50px;height:50px;"/>
                    </td>
    			</tr>
    			</table>
    			</td>
		</tr>
	</table>	